<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h OpenScan3</name>
  <service>
    <type>_http._tcp</type>
    <port>80</port>
    <txt-record>path=/</txt-record>
  </service>
  <service>
    <type>_smb._tcp</type>
    <port>445</port>
    <txt-record>note=OpenScan3 project share</txt-record>
  </service>
</service-group>
