[Unit]
Description=OpenScan3 Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=openscan
Group=openscan

WorkingDirectory=/opt/openscan3
Environment="PATH=/opt/openscan3/venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="VIRTUAL_ENV=/opt/openscan3/venv"
Environment="OPENSCAN_LOG_DIR=/var/log/openscan3"
Environment="OPENSCAN_SETTINGS_DIR=/etc/openscan3"


ExecStart=/usr/local/bin/openscan3 serve
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
